.navbox{
    display:flex;
    background-color: rgb(43, 41, 41);
    font-family: 'Mina', sans-serif;
}

.navbox-item{
    align-self: center;
}

.nav-logo{
    background-color: white;
    border-radius: 50%;
    border: 2px solid #AA3939;
    margin: 0.5%;
    background:radial-gradient(white 0%,white 60% ,#AA3939 100%);
    box-shadow: 0px 0px 15px rgb(240, 196, 0);
    height:80px; 
}
.nav-logo>img{
    width:80px;
    height:80px;
    -webkit-animation: rotation 3s;
}
.nav-logo-text{
    color:white;
    font-size: 40px;
    text-shadow: 2px 2px 15px rgb(240, 196, 0);
}

.wide-item{
    flex-basis: 60%;    
}

.push-right{
    float:right;
}

.btn{
    color: black; 
    background-color: rgb(240, 184, 0);
}

.first-item{
    order:1;
}

.second-item{
    order:2;
}

.third-item{
    order:3;
}

.fourth-item{
    order:4;
}

.fifth-item{
    order:5;
    width:220px;
}

.last-item{
    display:none;
    order:6;
}
.space-around{
    margin:0 10px;
}


.kart>img{
    width:50px;
    height:50px;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(360deg);
    }
}

.push-right-large{
    float:right;
}

.menu {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu-border{
margin-top:5px;
border:1px solid white;
border-radius:5px;
padding:2px;
display:none;
}

@media only screen and (max-width: 850px) {
    .first-item{
        order:1;
    }
    
    .second-item{
        order:2;
    }
    
    .third-item{
        order:5;
    }
    
    .fourth-item{
        order:3;
        flex-basis: 20%; 
    }

    .fifth-item{
        order:4;  
        width:auto;
        flex-basis: 30%;         
    }
    .navbox{
        flex-wrap:wrap;
    }
    .wide-item{
        flex-basis: 100%;    
    }
    .push-right{
        float:none;
    }
    .form-inline .form-control {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
        margin: 20px;
    }

    .push-right-medium{
        float:right; 
    }

    .nav-logo{width:60px;
        height:60px; 
    }

    .nav-logo>img{
        width:60px;
        height:60px;
    }

    .nav-logo-text{
        color:white;
        font-size: 30px;
    }
    .kart>img{
        width:30px;
        height:30px;
    }
}

@media only screen and (max-width: 720px) {
    .first-item{
        order:1;
    }
    
    .second-item{
        order:2;
    }
    
    .third-item{
        order:6;
    }
    
    .fourth-item{
        order:3;
        flex-basis: 20%; 
    }

    .fifth-item{
        order:5;  
        width:auto;
        flex-basis: 30%;         
    }

    .last-item{
        display: initial;
        order:4
    }
}

@media only screen and (max-width: 570px) {
    .form-inline .form-control {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        margin: 10px;
    }

    .dropdown .dropmenu{
        display: none
    }

    .menu-border{
        display:inline-block;
    }   

    .fifth-item{
        order:5;  
        width:auto;
        flex-basis:0;      
    }

    .nav-logo{width:50px;
        height:50px; 
    }

    .nav-logo>img{
        width:50px;
        height:50px;
    }

    .nav-logo-text{
        color:white;
        font-size: 25px;
    }

}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

img{
    width:70px;
    height:70px;
}

.imageDiv{
    padding :2px;
    display :inline;
}
.iconText{
    text-align:center;
    display :inline;
}